@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

::placeholder {
	color: rgb(167, 164, 164);
}

.wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(20, 19, 19);
	transition: 1s all;
}

.container {
	width: 300px;
}

h1 {
	text-align: center;
	margin-bottom: 1.5%;
	color: #fff;
}

.result {
	width: 50%;
}

input {
	padding: 25px;
	color: rgb(255, 255, 255);
	font-size: 1em;
	cursor: pointer;
	background-color: rgb(47, 51, 50);
	border: none;
	outline: none;
	border-radius: 10px;
	width: 70px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
	margin-bottom: 3px;
}

input[type='text'] {
	background-color: rgb(47, 51, 50);
	width: 218px;
}
input[type='button'] {
	color: #fff;
}
input[type='button']:hover {
	background-color: rgb(160, 160, 160);
	color: #fff;
}

#clear {
	background-color: rgb(255, 25, 25);
	color: #fff;
}

button {
	border: none;
	background-color: rgb(41, 38, 38);
	padding: 10px;
	color: #fff;
	border-radius: 8px;
	margin-top: 10px;
	cursor: pointer;
}
